* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	background-color: GhostWhite;
	font-family: 'Spoqa Han Sans Neo', 'sans-serf';
}

header {
	width: 100%;
	height: 60px;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

a {
	all: unset; /* a 태그의 속성 초기화. 가상 클래스까지 unset 되지는 않음 */
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.inner {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 2rem; /* rem > 루트 요소(<html>)의 글꼴 크기를 1rem으로 지정한다 */
	overflow: hidden;
}

.head-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.head-container .head-main {
	font-weight: bold;
	font-size: 1.2rem; /* rem: body를 기준으로 설정 */
}

.head-container .head-hello {
	font-weight: bold;
	font-size: 1.2rem; /* rem: body를 기준으로 설정 */
}

.head-container .head-hello a:hover,
.head-container .head-main a:hover {
	color: #3f464d;
	cursor: pointer;
}

section {
	width: 100%;
	background-color: GhostWhite;
	position: relative; /* section 안의 자식들의 위치가 absolute일 때, 섹션을 기준으로 위치를 잡기위해 설정 */
}

.main {
	width: 100%;
	height: 360px;
	background-image: url('/WEB/FullStack_Part_2/ex1/img/mehdi-yef79KkAguA-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 1;
	margin-top: 60px;
	position: relative;
}

.main-container {
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 2;
	opacity: 0.6;
	position: absolute;
}

.title-container {
	z-index: 3;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #ffffff;
	position: absolute;
}

.title {
	font-size: 2rem;
	font-weight: bold;
	padding-bottom: 0.8rem;
}

.message {
	font-size: 1.7rem;
}

.skill-container {
	width: 100%;
	height: 100%;
	margin: 1rem 0;
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.skill {
	width: 20%;
	height: 100%;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 9px;
	box-shadow: 10px 10px 10px -5px rgba(25, 45, 70, 0.2); /* offset-x | offset-y | blur-radius | spread-radius | color */
	transition: 0.5s;
}

.skill:hover {
	transform: translate(0, -5px);
}

.skill-title {
	margin: 1rem 1rem;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.skill-icon {
	font-size: 2.5rem;
}

.skill-name {
	font-weight: bold;
	margin-bottom: 0.2rem;
}

.skill-usage {
	font-size: 0.9rem;
	color: gray;
}

.python-style {
	color: lightblue;
}

.roadmap-container {
	width: 100%;
	margin-top: 1rem;
}

.roadmap-title-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.roadmap-title {
	font-size: 1.3rem;
	font-weight: bold;
}

.slide-prev,
.slide-next {
	font-size: 1.5rem;
	cursor: pointer;
}

.slide-prev {
	color: lightgray;
}

.arrow-container {
}

.class-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 0.5rem;
	overflow: hidden;
}

li:hover {
	cursor: pointer;
}

.class-card {
	width: 240px; /* 카드 종류는 유동적인 크기보다 고정 된 것이 반응형일지라도 더 예쁘다*/
	box-shadow: 10px 10px 10px -5px rgba(25, 45, 70, 0.2); /* offset-x | offset-y | blur-radius | spread-radius | color */
	border-radius: 8px;
	margin: 1rem 10px;
	transition: 0.5s;
}

.class-card:hover {
	box-shadow: 10px 10px 10px 0px rgba(25, 45, 70, 0.2);
	transform: translate(0, -5px);
	flex-shrink: 0; /* IE를 위한 속성 */
}

.class-image {
	width: 100%;
	height: 150px;
	border-radius: 8px 8px 0 0; /* top-left 부터 시계방향*/
}

.class-container {
	width: 100%;
	padding: 0.5rem 1rem 1rem 1rem;
}

.class-skill {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.9rem;
}

.class-desc {
	width: 100%;
	margin-top: 0.8rem;
}

.class-title {
	font-weight: bold;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0.4rem;
}
.class-detail {
	font-size: 0.8rem;
}

footer {
	margin-top: 2rem;
	color: gray;
	background-color: lightgray;
	border-top: 1px solid gray;
}

.copyright {
	margin: 1rem;
}

@media only screen and (min-width: 1200px) {
	.inner {
		max-width: 1200px;
	}
}

@media only screen and (max-width: 923px) {
	.skill-title {
		display: none;
	}
}